# {{ ansible_managed }}

POSTGRES_HOST=postgres
POSTGRES_EXTRA_OPTS={{ netbox_pgbackups_extra_opts }}
SCHEDULE={{ netbox_pgbackups_schedule }}
BACKUP_KEEP_DAYS={{ netbox_pgbackups_keep_days }}
BACKUP_KEEP_WEEKS={{ netbox_pgbackups_keep_weeks }}
BACKUP_KEEP_MONTHS={{ netbox_pgbackups_keep_months }}

POSTGRES_USER={{ netbox_pg_user }}
POSTGRES_PASSWORD={{ netbox_pg_password }}
POSTGRES_DB={{ netbox_pg_db }}
{% if netbox_timezone %}
TZ={{ netbox_timezone }}
{% endif %}