---
- name: Git clone netbox-docker
  ansible.builtin.git:
    repo: https://github.com/netbox-community/netbox-docker.git
    dest: "{{ netbox_base_path }}/netbox-docker"
    single_branch: true
    version: "{{ netbox_netbox_docker_version }}"

- name: Build the netbox-docker image from source
  ansible.builtin.shell: |
    set -euxo pipefail; \
    export SRC_ORG={{ netbox_netbox_src_org }}; \
    export SRC_REPO={{ netbox_netbox_src_repo }}; \
    ./build.sh {{ netbox_netbox_src_branch }} 2>&1 | while IFS= read -r line; do printf '%s %s\n' "$(date)" "$line"; done >> /tmp/netbox-docker-build.log
  args:
    chdir: "{{ netbox_base_path }}/netbox-docker"
    executable: /bin/bash
  tags:
    - docker-build
  changed_when: true
