---
- name: Create the volumes folders on the host
  ansible.builtin.file:
    path: "{{ item.source }}"
    state: directory
    mode: "0755"
    owner: "{{ netbox_user_id }}"
  loop: "{{ netbox_volumes }}"
  when: item.source is defined and item.type == 'bind'

- name: Copy the secret files
  ansible.builtin.copy:
    content: "{{ item.content }}"
    dest: "{{ item.path }}"
    mode: "0600"
  loop: "{{ netbox_secrets }}"
  no_log: true

- name: Ensure required netbox directories exist
  ansible.builtin.file:
    path: "{{ netbox_base_path }}/{{ item }}"
    state: directory
    recurse: true
  loop:
    - env
    - configuration
    - db
    - backups

- name: Generate environment files for netbox and related containers
  ansible.builtin.template:
    src: env/{{ item }}.j2
    dest: "{{ netbox_base_path }}/env/{{ item }}"
    mode: "0600"
  loop:
    - netbox.env
    - postgres.env
    - redis-cache.env
    - redis.env
    - pgbackups.env
  no_log: true
  notify: Restart netbox

- name: Generate configuration files from templates
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "{{ netbox_base_path }}/{{ item }}"
    mode: "0644"
  loop:
    - docker-compose.yml
    - Caddyfile
    - Dockerfile
  notify: Restart netbox

- name: Generate configuration directory files from templates
  ansible.builtin.template:
    src: "configuration/{{ item }}.j2"
    dest: "{{ netbox_base_path }}/configuration/{{ item }}"
    mode: "0644"
  loop:
    - extra.py
    - plugins.py
  notify: Restart netbox
