---
- name: Verify mandatory netbox_volumes are present
  ansible.builtin.assert:
    that: item in (netbox_volumes | map(attribute='target') | list)
    fail_msg: Mandatory volume '{{ item }}' is missing from netbox_volumes
  loop: "{{ netbox_mandatory_volumes }}"

- name: Validate the contents of the netbox_volumes variable
  ansible.builtin.assert:
    that:
      - item.type is defined
      - item.source is defined or item.type == 'tmpfs'
      - item.target is defined
    quiet: true
  loop: "{{ netbox_volumes }}"
  loop_control:
    label: "{{ item.source | default(item.target | default(item.name | default(item))) }}"

- name: Validate the contents of the netbox_secrets variable
  ansible.builtin.assert:
    that:
      - item.name is defined
      - item.content is defined
      - item.path is defined
    quiet: true
  loop: "{{ netbox_secrets }}"
  loop_control:
    label: "{{ item }}"
