#jinja2: lstrip_blocks: True
# {{ ansible_managed }}
# Source: https://github.com/netbox-community/netbox-docker/blob/release/docker-compose.yml

services:
{% if netbox_use_caddy and (netbox_ssl_cert_bundle or netbox_caddy_letsencrypt_email) %}
  # caddy container for TLS termination
  tls:
    image: {{netbox_caddy_image}}
    restart: unless-stopped
    depends_on:
      netbox:
        condition: service_healthy

    volumes:
    - type: bind
      source: ./Caddyfile
      target: "/etc/caddy/Caddyfile"
      read_only: true
    {% if netbox_ssl_cert_bundle %}
    - type: bind
      source: "{{netbox_ssl_cert_bundle}}"
      target: "/etc/ssl/private/cert.crt"
      read_only: true
    - type: bind
      source: "{{netbox_ssl_cert_key}}"
      target: "/etc/ssl/private/key.key"
      read_only: true
    {% endif %}
    - type: volume
      source: netbox-caddy-data
      target: /data
    - type: volume
      source: netbox-caddy-config
      target: /config
    ports:
    - "{{netbox_caddy_http_port}}:80" # Allows for http redirection
    - "{{netbox_caddy_https_port}}:443"
    logging:
      driver: "local"
      options:
        max-size: "10M"
        max-file: "10"
{% endif %}
  netbox: &netbox
    {% if netbox_extra_packages or netbox_plugins %}
    build:
      context: .
    image: {{netbox_netbox_image}}-custom
    {% else %}
    image: {{netbox_netbox_image}}
    {% endif %}
    depends_on:
      - postgres
      - valkey
      - valkey-cache
    env_file: env/netbox.env
    user: "unit:root"
    healthcheck:
      test: curl -f http://localhost:8080/login/ || exit 1
      start_period: 120s
      timeout: 3s
      interval: 15s
    volumes:
      {{ netbox_volumes | to_nice_yaml(indent=2) | indent(6, false) }}
      - ./nginx-unit.json:/etc/unit/nginx-unit.json:ro
      - ./extra.py:/etc/netbox/config/extra.py:ro
    security_opt:
      - seccomp:unconfined
    {% if netbox_port and not netbox_use_caddy %}
    ports:
      - "{{ netbox_port }}:8080"
    {% else %}
    expose:
      - "8080"
    {% endif %}
    restart: unless-stopped
    {% if netbox_container_labels %}
    labels: {{ netbox_container_labels | to_json }}
    {% endif %}
    networks:
      - default
    {% if netbox_additional_network_names %}
      {% for network in netbox_additional_network_names %}- {{ network }}{% endfor %}
    {% endif %}
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
        delay: 30s
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
      {% if netbox_resources_limits %}
      resources:
        limits: {{ netbox_resources_limits | to_json }}
      {% endif %}
    logging:
      driver: "local"
      options:
        max-size: "10M"
        max-file: "10"
    {% if netbox_secrets | length > 0 %}
    secrets: {{ netbox_secrets | map(attribute='name') | list | to_json }}
    {% endif %}

  netbox-worker: &netbox-worker
    <<: *netbox
    depends_on:
      valkey:
        condition: service_healthy
      netbox:
        condition: service_healthy
    command:
      - /opt/netbox/venv/bin/python
      - /opt/netbox/netbox/manage.py
      - rqworker
    ports: []
    expose: []
    labels: []
    healthcheck:
      test: ps -aux | grep -v grep | grep -q rqworker || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
    networks:
      - default
    restart: unless-stopped
    deploy:
      replicas: {{ netbox_workers }}
      update_config:
        parallelism: 1
        delay: 30s
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
      {% if netbox_resources_limits %}
      resources:
        limits: {{ netbox_resources_limits | to_json }}
      {% endif %}

{% if netbox_netbox_docker_version is version('3.4.0', '<') %}
  netbox-housekeeping:
    <<: *netbox-worker
    command:
      - /opt/netbox/housekeeping.sh
    healthcheck:
      test: ps -aux | grep -v grep | grep -q housekeeping || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
    deploy:
      replicas: 1
      {% if netbox_resources_limits %}
      resources:
        limits: {{ netbox_resources_limits | to_json }}
      {% endif %}
{% endif %}

  postgres:
    image: {{ netbox_postgres_image }}
    env_file: env/postgres.env
    volumes:
      - netbox-postgres-data:/var/lib/postgresql/data
    networks:
      - default
    restart: unless-stopped
    healthcheck:
      test: pg_isready -q -t 2 -d $$POSTGRES_DB -U $$POSTGRES_USER
      start_period: 20s
      timeout: 30s
      interval: 10s
      retries: 5
    logging:
      driver: "local"
      options:
        max-size: "10M"
        max-file: "10"
  
{% if netbox_pgbackups_enabled %}
  pgbackups:
    image: {{ netbox_pgbackups_image }}
    restart: unless-stopped
    env_file: "env/pgbackups.env"
    volumes:
      - type: bind
        source: "{{ netbox_base_path }}/backups"
        target: "/backups"
    links:
      - postgres
    depends_on:
      - postgres
    logging:
      driver: "local"
      options:
        max-size: "10M"
        max-file: "10"
{% endif %}

  valkey:
    image: {{ netbox_valkey_image }}
    command:
      - sh
      - -c # this is to evaluate the $VALKEY_PASSWORD from the env
      - valkey-server --appendonly yes --requirepass $$VALKEY_PASSWORD ## $$ because of docker-compose
    env_file: env/valkey.env
    volumes:
      - netbox-valkey-data:/data
    networks:
      - default
    restart: unless-stopped
    healthcheck: &valkey-healthcheck
      test: '[ $$(valkey-cli --pass "$${VALKEY_PASSWORD}" ping) = ''PONG'' ]'
      start_period: 5s
      timeout: 3s
      interval: 1s
      retries: 5
    logging:
      driver: "local"
      options:
        max-size: "10M"
        max-file: "10"

  valkey-cache:
    image: {{ netbox_valkey_image }}
    command:
      - sh
      - -c # this is to evaluate the $VALKEY_PASSWORD from the env
      - valkey-server --requirepass $$VALKEY_PASSWORD ## $$ because of docker-compose
    env_file: env/valkey-cache.env
    volumes:
    - netbox-valkey-cache-data:/data    
    networks:
      - default
    restart: unless-stopped
    healthcheck: *valkey-healthcheck
    logging:
      driver: "local"
      options:
        max-size: "10M"
        max-file: "10"

volumes:
  netbox-media-files:
    driver: local
  netbox-postgres-data:
    driver: local
  netbox-valkey-data:
    driver: local
  netbox-valkey-cache-data:
    driver: local
{% if netbox_use_caddy %}
  netbox-caddy-data:
  netbox-caddy-config:
{% endif %}

{% if netbox_additional_network_names %}
networks:
{% for network in netbox_additional_network_names %}
  {{ network }}:
    name: {{ network }}
    external: true
{% endfor %}
{% endif %}

{% if netbox_secrets is defined and netbox_secrets | length > 0 %}
secrets:
{% for secret in netbox_secrets %}
  {{secret.name}}:
    file: {{secret.path}}
{% endfor %}
{% endif %}