{
    "listeners": {
      "0.0.0.0:8080": {
        "pass": "routes/main"
      },
      "[::]:8080": {
        "pass": "routes/main"
      },
      "0.0.0.0:8081": {
        "pass": "routes/status"
      },
      "[::]:8081": {
        "pass": "routes/status"
      }
    },
    "routes": {
      "main": [
        {
          "match": {
            "uri": "/static/*"
          },
          "action": {
            "share": "{{netbox_container_root}}/netbox${uri}"
          }
        },
        {
          "action": {
            "pass": "applications/netbox"
          }
        }
      ],
      "status": [
        {
          "match": {
            "uri": "/status/*"
          },
          "action": {
            "proxy": "http://unix:/opt/unit/unit.sock"
          }
        }
      ]
    },
    "applications": {
      "netbox": {
        "type": "python 3",
        "path": "{{netbox_container_root}}/netbox/",
        "module": "netbox.wsgi",
        "home": "{{netbox_container_root}}/venv",
        "processes": 4
      }
    },
    "access_log": "/dev/stdout"
  }
