#jinja2: lstrip_blocks: True
# {{ ansible_managed }}

####
## This file contains extra configuration options that can't be configured
## directly through environment variables.
####

import logging
import sys

from os import environ

if environ.get('DEBUG', 'False').lower() == 'true':
    root = logging.getLogger()
    root.setLevel(logging.DEBUG)

    handler = logging.StreamHandler(sys.stdout)
    handler.setLevel(logging.DEBUG)
    formatter = logging.Formatter('%(asctime)s - %(name)s - %(levelname)s - %(message)s')
    handler.setFormatter(formatter)
    root.addHandler(handler)

ADMINS = [
{% for admin in netbox_admins %}
    ["{{admin.name}}", "{{admin.email}}"],
{% endfor %}
]

{{ netbox_extra_config }}
