#jinja2: lstrip_blocks: True
# {{ ansible_managed }}

####
## This file contains plugin configuration for NetBox.
## Variables defined here are merged into the NetBox configuration
## by the configuration loader.
####

import yaml

PLUGINS = [{% for plugin in netbox_plugins %}"{{ plugin.name }}", {% endfor %}]

plugins_config_yaml = """
{{ netbox_plugins_config | to_nice_yaml() }}"""
PLUGINS_CONFIG = yaml.safe_load(plugins_config_yaml)
